{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="sub_page">


    <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          book a table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form method="post">
               {% csrf_token %}
              <div>
                  {{form.name }}

              </div>
              <div>
                {{ form.phone }}
              </div>
              <div>
                {{ form.email }}
              </div>
                <div>
                {{ form.number_of_guests }}
              </div>

              <div>
                <input id="m_date" type="date" class="form-control" required>
              </div>

                 <div>
                <input id="m_time" type="time" class="form-control"  required>
              </div>



              <div class="btn_box">

                      <button name="reserve" type="button" onclick="bookingg()">
                  Reservation
                </button>


              </div>
            </form  >
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end book section -->



</div>



{% endblock %}