<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" where culinary excellence meets a warm and inviting atmosphere. Nestled in the heart of [Location], our restaurant offers a delightful fusion of flavors, crafted with care by our talented chefs. From mouthwatering appetizers to delectable main courses and decadent desserts, our menu showcases a diverse array of dishes inspired by both local traditions and global cuisine. Join us at [Restaurant Name] and embark on a culinary journey that tantalizes the taste buds and delights the senses.">

    <title>
        
         {% block title %}
         
         {% endblock %}
        
    </title>

{% block header %}
 {% include 'header_refrences.html' %}
{% endblock %}

</head>


<body>
{% include 'header.html' %}
{% block content %}

{% endblock %}



{% include 'footer.html' %}

{% block footer %}
{% include 'footer_refrences.html' %}
{% endblock %}


</body>
</html>