<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
         {% block title %}
         
         {% endblock %}
        
    </title>

{% block header %}
 {% include 'header_refrences.html' %}
{% endblock %}

</head>


<body>
{% include 'header.html' %}
{% block content %}

{% endblock %}



{% include 'footer.html' %}

{% block footer %}
{% include 'footer_refrences.html' %}
{% endblock %}


</body>
</html>