<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description" name="description" content=" Book a table at our resturant for an unforgettable dining experience. Reserve your spot now to enjoy culinary delights and exceptional service.">
    <link rel="canonical" href="https://booking-2343-resturant-fbcb6c4f4109.herokuapp.com" />

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "Resturant",
          "url": "https://booking-2343-resturant-fbcb6c4f4109.herokuapp.com",
       
        }
        </script>


   
    

    <title>
        
         {% block title %}
         
         {% endblock %}
        
    </title>

{% block header %}
 {% include 'header_refrences.html' %}
{% endblock %}

</head>


<body>
{% include 'header.html' %}
{% block content %}

{% endblock %}



{% include 'footer.html' %}

{% block footer %}
{% include 'footer_refrences.html' %}
{% endblock %}


</body>
</html>