    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 footer-col">
              <div class="footer_contact">
                <h4> contact us  </h4>
                <div class="contact_link_box">
  
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>  {{ footer.phone_number }} </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span> {{ footer.email }} </span>
                  </a>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 footer-col">
              <h4>working hours</h4>
              <p>every day</p>
              <p>09:00 a.m to 23:59 pm</p>
            </div>
          </div>
          <div class="footer-info">
            <p>
              &copy; <span id="displayYear"></span> All Rights Reserved By
  
            </p>
          </div>
        </div>
      </footer>
  