



.like_part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72px;
}



.like_part button{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffbe33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
}


#set{
color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

#cancel{
 color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.shop_btn{
outline: none;
  border: none;
  color: white;
  background-color: #ffc107;
  border-radius: 50px;
  font-size: 25px;
  width: 40px;
}





/* shopping acrt  and booking*/



.main_food_order , .booking_vontainer{
  max-width: 600px;
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px !important;
  font-size: 15px;
}











/* end */