{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
dashboard
{% endblock %}


 {% block content %}



  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          book a table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form method="post">
               {% csrf_token %}
              <div>
                  {% render_field form.name class+="form-control" %}

              </div>
              <div>
               {% render_field form.phone class+="form-control" %}
              </div>
              <div>
                {% render_field form.email class+="form-control" %}
              </div>
              <div>
                 {% render_field form.number_of_guests class+="form-control" %}
              </div>
              <div>
                 {% render_field form.date class+="form-control" %}
              </div>

                 <div>
                {% render_field form.timee class+="form-control" %}
              </div>


{% if messages %}
  <ul class="messages text-danger">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


                  <button type="submit" id="set" class="btn btn-success" value="Update">sumbit</button>
                  <button type="button" onclick="cancel_change()"  id="cancel" class="btn btn-danger" >cancel</button>


            </form>
          </div>
        </div>


      </div>
    </div>
  </section>








 {% endblock %}

