{% extends 'base.html' %}
{% load static %}


{% block title %}
forgot passsword
{% endblock %}


 {% block content %}



     <section class="book_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2> forget password</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form_container">
              <form action="{% url 'forget_password_page' %}" method="post">
                  {% csrf_token %}
                <div>
                    {{ forget_pass_form.email }}
                </div>


                <div class="btn_box">
                  <button onclick="forget_pass()" type="button">send</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>




 {% endblock %}


