{% extends 'base.html' %}
{% load static %}


{% block title %}
login/signup
{% endblock %}


 {% block content %}


     <section id="form" class="my-5">

        <div id="toggle-forms">
            <button class="waves-effect waves-light active" id="login">Login</button>
            <button class="waves-effect waves-light" id="register">Register</button>
        </div>




{#            login form#}
        <form class="col s12 login_form" method="post" action="{% url 'login'%}">
            {% csrf_token %}
            <div class="row center-align">
                <h4 class="white-text">login</h4>
            </div>
            <div class="row">
                <div class="input-field my-2">
                    {{ login_form.email_or_username.label }}
                    {{ login_form.email_or_username }}

                </div>
            </div>
            <div class="row">
                <div class="input-field my-3">
                    {{ login_form.password.label }}
                    {{ login_form.password }}

                </div>
            </div>
            <div class="row center-align">
                <button type="button" onclick="login_dataa()" class="btn waves-effect waves-light">
                    Login
                </button>
            </div>
				<a href="{% url 'forget_password_page' %}" class="forgot">Forgot Password?</a>
            <ul class="animate">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </form>

{#register form#}
        <form class="col s12" method="post" action="{% url 'login_register' %}" >

            {% csrf_token %}
            <div class="row center-align">
                <h4 class="white-text">register</h4>
            </div>
             <div class="row">
                <div class="input-field">
                    {{ register_form.username.label }}
                    {{ register_form.username}}

                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    {{ register_form.email.label }}
                    {{ register_form.email }}

                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    {{ register_form.password.label }}
                    {{ register_form.password }}

                </div>
            </div>

            <div class="row center-align">
                <button type="button" onclick="register_data()" class="btn waves-effect waves-light">
                    Register
                </button>
            </div>
            <ul class="animate">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </form>
    </section>





 {% endblock %}


