{% extends 'base.html' %}
{% load static %}



{% block title %}
dashboard
{% endblock %}


 {% block content %}




<h2 class="m-4 " id="cart">sopping cart</h2>
<div class="container">
   <form action="{% url 'modify_order' %}" class="d-flex flex-column align-items-center justify-content-evenly" method="post">
  {% csrf_token %}


  <div class="container order_container flex-column d-flex justify-content-evenly w-100 align-items-center">
    {% for foo in order.orderdetail_set.all %}

    <div class="main_food_order my-3 w-100 d-flex justify-content-evenly align-items-center " >
      <div class="food_order_image">
        <img src="{{ foo.food.image.url }}" alt="" width="60px" height="60px">
      </div>
      
      <div class="food_name">
        <p class="text-dark my-3">
          {{ foo.food.food_name }}
        </p>
      </div>

      <div>
        <p class="my-3">{{ foo.food.price }} $</p>
      </div>



      <div>
        <button name="minuse" type="button" class="btn btn-warning mx-3" onclick="decrease_count('{{ foo.food.pk }}')">-</button>
      </div>

  
    
      
      <div>
        <p class="my-3" id="count_{{ foo.food.pk }}">{{ foo.count }}</p>
      </div>
      
      <div>
        <button name="Increase" type="button" class="btn btn-warning mx-3" onclick="increase_count('{{ foo.food.pk }}')">+</button>
      </div>

      <div>
        <button name="delete" type="button" onclick="modify_order('{{ foo.food.pk }}')" class="btn btn-danger mx-3">&times;</button>
      </div>

    </div>
    {% endfor%}

  </div>


<br>

</form>

<p class="btn btn-primary my-3">Final price: ${{ sum }}</p>



</div>














 {% endblock %}

