{% extends 'base.html' %} {% load static %} 
{% block title %} dashboard 
{% endblock %} 


{% block content %}

<div class="m-4" id="dashboard">
  <a href="{% url 'logout' %}">
    log out
    <i class="bi bi-box-arrow-right"></i>
  </a>
</div>

<div class="m-4">
  <h2 class="my-5">reserve</h2>
  <form method="post">
    {% csrf_token %}
    {% if reserv %}
    <div class="d-flex justify-content-evenly align-items-center flex-column">
        {% for foo in reserv %}

  
      <div class="booking_vontainer container my-4 d-flex flex-column f justify-content-evenly align-items-start">
        <div class="text-dark fs-5 my-2 d-flex justify-content-between w-100 ">
          <div>

            <i class="bi bi-people text-info"></i> 
            <span>number of guests : </span> 
            {{ foo.number_of_guests }}
          </div>


            <button name="remove" type="button" onclick="remove_reserv({{ foo.pk }})" class="btn btn-danger">&times;</button>
         
        </div>

        <div class="date my-2">
          <p class="fs-5"><i class="bi bi-calendar-check text-info"></i> date : <span class="text-dark">{{ foo.date }}</span></p>
        </div>

        <div class="time_booking text-dark my-2">
          <p class="fs-5"> <i class="bi bi-alarm text-info"></i> time : {{ foo.timee }}</p>
        </div>

        <div class="edit_enfo ">
          <a href="{% url 'edit-dashboard' foo.pk%}" class="btn btn-warning">edit</a>
        </div>

        
      </div>
      {% endfor %}
      {% else %}
      <p class="text-danger">You do not have any reservation</p>
      {% endif %}
    </div>

  </form>
</div>

{% endblock %}
